@font-face {
    font-family: 'MyriadPro';
    src: url('myriadpro.otf#iefix') format('embedded-opentype'), 
    url('myriadpro.woff') format('woff'),
    url('myriadpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}